body {
	background-color: #fff6e9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
	min-height: 3em;
	min-width: 600px;
	max-width: 1000px;
}

#body {
	margin: 20px 100px 10px 100px;
	min-width: 600px;
	max-width: 1000px;
}

#sidebar {
	width: 180px;
	float: right;
	margin-left: 20px;
	clear: both;
	background-color: #cccce0;
	padding: 10px 10px 50px 10px;
}

h1 {
	text-align: center;
}

#sidebar h1 {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 14px;
}

#sidebar a {
	display: block;
}
